h3{
    margin-top:20px;
    margin-bottom:20px;
}

.form-group{
    margin-left:20px;
}

button{
    margin-outside: 20px;
}
a{
    text-decoration: none;
}
/*
class img-fluid van bootstrap gebruikt om afbeelding mooi te krijgen;
voor meer uitleg en mogelijkheden zie
https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width
*/